<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>20064429887-npg7sod3p04sokgj6u1idv92oa6ah0vt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20064429887-npg7sod3p04sokgj6u1idv92oa6ah0vt</string>
	<key>API_KEY</key>
	<string>AIzaSyBwDIftPmPGVtFIO6IxKca2n-kFx12ofYY</string>
	<key>GCM_SENDER_ID</key>
	<string>20064429887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>luck.com.2048</string>
	<key>PROJECT_ID</key>
	<string>project-2030257447824009869</string>
	<key>STORAGE_BUCKET</key>
	<string>project-2030257447824009869.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20064429887:ios:cf297e2e22d855ea</string>
	<key>DATABASE_URL</key>
	<string>https://project-2030257447824009869.firebaseio.com</string>
</dict>
</plist>